<nav class="bg-[#222] w-full">
  <section class="max-w-4xl h-20 flex justify-between text-white items-center mx-auto">
    <h2 class="text-4xl">Luis</h2>
    <ul class="flex justify-between min-w-96">
      <li><a href="#">Home</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Experience</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </section>
</nav>
